@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

html, body {
  overflow-x: hidden;
}

#main {
  width: 100%;
  padding: 0;
}

#MainNav {
  font-size: 1.10em;
}

#MainNav .nav-link:hover {
  color: #3c67e3;
}

.navbar.scrolled {
  background: white;
  transition: background 400ms;
}

.navbar-brand {
  font-size: 2rem;
}

.content-asset p {
  margin: 0 auto;
}

.breadcrumb {
  display: none;
}


.margin-top-10 {
  padding-top: 10px;
}

.margin-bot-10 {
  padding-bottom: 10px;
}


#freycamp h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0;
}

#freycamp h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: .9;
}

#freycamp h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
}

#freycamp p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.first-character {
  font-weight: 400;
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: 'Source Sans Pro', sans-serif;
}

.sc {
  color: #3b8595;
}

.ny {
  color: #3d3c3a;
}

.atw {
  color: #c48660;
}


#freycamp .title {
  background: white;
  padding: 60px;
  margin: 0 auto;
  text-align: center;
}

#freycamp .title h1 {
  font-size: 35px;
  letter-spacing: 8px;
}

#freycamp .title h3 {
  padding-top: 0.25em;
}


#freycamp .block {
  background: white;
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  text-align: justify;
}

#freycamp .block-gray {
  background: #f2f2f2;
  padding: 60px;
}

#freycamp .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.70;
}


#freycamp .parallax-one {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1586996292898-71f4036c4e07?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHN1cmZ8ZW58MHx8MHx8&w=1000&q=80);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#freycamp .parallax-two {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Kayakersview.JPG/1280px-Kayakersview.JPG);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#freycamp .parallax-three {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://res.cloudinary.com/thrillophilia/image/upload/c_fill,f_auto,fl_progressive.strip_profile,g_auto,q_auto/v1/filestore/8zraxolxvnfjzxp0fezghlraetn2_1594366172_shutterstock_266214125.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}


#freycamp .line-break {
  border-bottom: 1px solid black;
  width: 150px;
  margin: 0 auto;
}


@media screen and (max-width: 959px) and (min-width: 768px) {
  #freycamp .block {
    padding: 40px;
    width: 620px;
  }
}

@media screen and (max-width: 767px) {
  #freycamp .block {
    padding: 30px;
    width: 420px;
  }

  #freycamp h2 {
    font-size: 30px;
  }

  #freycamp .block {
    padding: 30px;
  }

  #freycamp .parallax-one, #freycamp .parallax-two, #freycamp .parallax-three {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 479px) {
  #freycamp .block {
    padding: 30px 15px;
    width: 290px;
  }
}

.button {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 30px 300px;
  border: 3px solid #3c67e3;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #3c67e3;
  font-weight: 500;
}

.button:hover {
  animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {

  0% {
    box-shadow:
      0 0 25px #5ddcff,
      0 0 50px #4e00c2;
  }
}

.cent {
  text-align: center;
}

@media (max-width: 800px) {
  .button {
    padding: 1rem 10rem;
  }
}